@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales predeterminados */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Esquema claro predeterminado */
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
}

/* Estilos personalizados que se pueden usar con clases */
@layer components {
  .btn-default {
    @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium 
    transition-colors cursor-pointer;
  }

  .btn-default:hover {
    @apply border-[#646cff];
  }

  .btn-default:focus,
  .btn-default:focus-visible {
    @apply outline-none ring-4;
  }
}
